<div class="create-wrapper container">
	<form name="createContent" class="form" novalidate>
		<fieldset class="form-group">
			<label for="title">Title</label>
			<input type="text" id="title" ng-model="title" class="form-control"/>
		</fieldset>

		<fieldset class="form-group">
			<label for="banner-img">Title image</label>
			<input type="file" id="banner-img" ng-model="imgsrc"/>
		</fieldset>

		<fieldset class="form-group">
			<label for="summary">Summary</label>
			<textarea id="summary" ng-model="imgsrc" class="form-control" rows="5"></textarea>
		</fieldset>

		<fieldset class="form-group">
			<label for="desc">Content</label>
			<div text-angular  ng-model="description" id="desc"></div>
			<!-- <textarea ui-tinymce ng-model="description" id="desc"></textarea> -->
		</fieldset>

		<fieldset class="form-group">
			<input type="submit" class="btn btn-success" ng-click="process.createContent(title,description)" value="Submit"/>
			<input type="reset" class="btn btn-warning" />
		</fieldset>
	</form>
</div>