<div class="row">
    <div class="editors-pick col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
        <div class="section-wrapper hidden-xs hidden-sm">
            <div class="section-tag">
                <h4> <i class="fa fa-bullhorn"></i> Editors pick</h4>
            </div>
            <div class="row padding-15">
                <div ng-repeat="content in editorsPick" class="content-overview col-lg-6 col-md-6 col-sm-6 col-xs-6" navigate-to-details detail-obj="content">
                    <img ng-src="{{content.imgSrc}}" class="img-responsive">
                    <div class="content-desc">
                        <h4>{{content.title}}</h4>
                        <p class="desc">{{content.overview}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-wrapper visible-xs visible-sm">
            <div class="section-tag">
                <h4><i class="fa fa-bullhorn"></i>  Editors pick</h4>
            </div>
            <ul class="list-unstyled">
                <li class="list-card" ng-repeat="content in editorsPick">
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object img-thumbnail img-responsive " width="100px" height="100px" ng-src="{{content.imgSrc}}"/>
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <h4>{{content.title}}</h4>
                                <h6 class="pp-muted-text">{{content.author}}</h6>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="section-tag text-center">
                <h4>View more</h4>
            </div>
        </div>
    </div>



    <aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="popular section-wrapper">
            <div class="section-tag">
                <h4><i class="fa fa-star"></i>  Popular</h4>
            </div>
            <ul class="list-unstyled">
                <li class="list-card" ng-repeat="content in popular">
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object img-thumbnail img-responsive " width="100px" height="100px" ng-src="{{content.imgSrc}}"/>
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <h4>{{content.title}}</h4>
                                <h6 class="pp-muted-text">{{content.author}}</h6>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="section-tag text-center">
                <h4>View more</h4>
            </div>
        </div>

        <div class="latest section-wrapper">
            <div class="section-tag">
                <h4><i class="fa fa-flash"></i> Trending</h4>
            </div>
            <ul class="list-unstyled">
                <li class="list-card" ng-repeat="content in latest">
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object img-thumbnail img-responsive" width="100px" height="100px" ng-src="{{content.imgSrc}}"/>
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <h4>{{content.title}}</h4>
                                <h6 class="pp-muted-text">{{content.author}}</h6>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="section-tag text-center">
                <h4>View more</h4>
            </div>
        </div>
    </aside>
</div>